@import './styles/variables.scss';
@import './styles/mixins.scss';

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: $font-primary; 
}

.main-container {
    display: grid;
    grid-template-columns: $sidebar-width 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}

